# Firebase CLI config
firebase-debug.log
firebase-cache/

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build files
dist/
build/
assets/textbook1_extracted/*
assets/textbook2_extracted/*
EPS-TOPIK tdxfkg tlnkxzmz_2xt(npmxhvuw tdxfkg)(25.06.ionk).pdf
